/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* $Id: maven-theme.css 1715187 2015-11-19 14:36:01Z michaelo $ */

/*IE6/7 don't support selectors*/
a.externalLink {
  padding-right: 18px;
}
a.newWindow {
  background: url('../images/window-new.png') right center no-repeat;padding-right: 18px;
}

a.externalLink[href^=http] {
  background: url('../images/internet-web-browser.png') right center no-repeat;padding-right: 18px;
}
a.externalLink[href$=".asc"] {
  background: url('../images/accessories-text-editor.png') right center no-repeat;padding-right: 18px;
}
a.externalLink[href$=".jpg"],
a.externalLink[href$=".jpeg"],
a.externalLink[href$=".gif"],
a.externalLink[href$=".png"] {
  background: url('../images/image-x-generic.png') right center no-repeat;padding-right: 18px;
}
a.externalLink[href$=".tar.gz"],
a.externalLink[href$=".zip"] {
  background: url('../images/package-x-generic.png') right center no-repeat;padding-right: 18px;
}
a.externalLink[href$=".md5"],
a.externalLink[href$=".sha1"] {
  background: url('../images/document-properties.png') right center no-repeat;padding-right: 18px;
}
a.externalLink[href^=https] {
  background: url('../images/application-certificate.png') right center no-repeat;padding-right: 18px;
}
a.externalLink[href^=file] {
  background: url('../images/drive-harddisk.png') right center no-repeat;padding-right: 18px;
}
a.externalLink[href^=ftp] {
  background: url('../images/network-server.png') right center no-repeat;padding-right: 18px;
}
a.externalLink[href^=mailto] {
  background: url('../images/contact-new.png') right center no-repeat;padding-right: 18px;
}

li.none {
  list-style: none;
}

.search-query {
  background-image: url(https://cse.google.com/cse/images/google_custom_search_watermark.gif);
  background-attachment: initial; background-origin: initial; background-clip: initial; 
  background-color: rgb(255, 255, 255); background-position: 0% 50%; background-repeat: no-repeat no-repeat;
  width:95%
}

body.topBarEnabled {
  padding-top: 60px;
}
body.topBarDisabled {
  padding-top: 20px;
}

.builtBy {
  display: block;
}
img.builtBy {
  margin: 10px auto;
}

#search-form {
  margin-left: 9px;margin-right:9px;
}

/* Tweaks to the bootstrap theme
--------------------------------- */

/* sections title are rendered using h2 instead of h1 */
.hero-unit h2 {
  font-size: 60px;
}

/* Copied from bootstrap <code> tag style. Maven translates <code> to <tt>. */
tt {
  padding:0 3px 2px;font-family:Monaco, Andale Mono, Courier New, monospace;
  font-size:0.9em;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
  background-color:#fee9cc;color:rgba(0, 0, 0, 0.75);padding:1px 3px;
}

/* avoid greyed list items */
li {
  color:#404040;
}

/* avoid transparent background of table */
table.zebra-striped {
  background-color:#FFF
}

/* avoid transparent footer */
.footer {
  background-color:#EEE
}

/* align with adjustments of http://twitter.github.com/bootstrap/examples/fluid.html */
.sidebar-nav {
    padding-left: 0px;
    padding-right: 0px;
}

.sidebar-nav .icon-chevron-right, .sidebar-nav .icon-chevron-down {
  margin-top: 2px;
  margin-right: -6px;
  float: right;
  opacity: 0.25;
}

/* MSKINS-79: pull-right compresses list items */
li.pull-right {
  margin-left: 3px;
  margin-right: 3px;
}
